body {
    font-family: helvetica, sans-serif;
    background-color: #121212;
    color: #e5e5e5;
    margin: 0;
    padding: 0;
}

header {
background: #35424a;
color: #ffffff;
padding: 10px 0;
text-align: center;
}

h1 {
margin: 0;
}

main {
padding: 20px;
}

section {
margin-bottom: 20px;
padding: 20px;
background: #ffffff;
border: 1px solid #dddddd;
}

section {
    background-color: #ffffff;
    color: #333333;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border: 2px solid;
}
section h2 {
    text-align: center;
    color: #1e3a8a;
}


section.contact-page {
    background-color: #1e3a8a; 
    background-image: url('dj teewhyy events pic/djteewhyy-cover.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: rgb(152, 229, 19);
    padding: 20px; 
    margin: 0; 
}
/* Scroll-up button styles */
.scroll-up-button {
    background-color: #1e3a8a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.scroll-up-button:hover {
    background-color: #1e40af;
}

footer {
background: #35424a;
color: #ffffff;
text-align: center;
padding: 10px 0;
position: relative;
bottom: 0;
width: 100%;
}

